.section-differences-wrapper {
  max-width: 1620px;
  margin: auto;
}

.section-differences-list {
  margin-top: 80px;
  margin-bottom: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-differences-list-el {
  width: 490px;
  height: 275px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.section-differences-list-el:nth-child(3) img {
  max-width: 65%;
}

.section-differences-list-el:nth-child(1) img {
  max-width: 60%;
  margin: 0px 20px 25px 0px;
}

.section-differences-list-el:nth-child(2) img {
  max-width: 40%;
}

.section-differences-list-el-icon {
  align-self: flex-end;
}

.section-differences-list-el:nth-child(3) p {
  max-width: 425px;
}

.section-differences-list-el:nth-child(1) p {
  max-width: 460px;
}

.section-differences-list-el:nth-child(2) p {
  max-width: 350px;
}

.section-differences-list-el-text {
  font-size: 24px;
  padding: 25px 0px 0px 20px;
}
