@media (max-width: 1600px) {
  .footer-block-title {
    font-size: 22px;
  }
  .footer__block-list-el {
    font-size: 18px;
  }
  .footer__block-list-el-link {
    font-size: 18px;
  }
  .footer__block {
    width: 400px;
  }
}

@media (max-width: 1280px) {
  .footer-block-title {
    font-size: 18px;
  }
  .footer__block-list-el {
    font-size: 14px;
  }
  .footer__block-list-el-link {
    font-size: 14px;
  }
  .footer__block {
    width: 325px;
  }
  .footer-block-prosvet-logo {
    width: 100px;
  }
}

@media (max-width: 1110px) {
  .footer__block {
    width: 300px;
  }
}
