.header__wrapper {
  max-width: 1620px;
  margin: auto;
  margin: 0px 150px;
}

.header__conteiner-titles-list {
  display: flex;
  flex-direction: column;
}

.header__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header__conteiner-titles {
  /* align-self: center; */
  margin-bottom: 15px;
}

.header__conteiner-titles-list-el:nth-child(1) {
  font-size: 64px;
  font-weight: 800;
}

.header__conteiner-titles-list-el:nth-child(2) {
  font-size: 64px;
  font-weight: 800;
  color: #7f68ad;
}

.header__conteiner-titles-list-el:nth-child(3) {
  font-size: 30px;
  font-weight: 600;
}

.header__wrapper-banner {
  max-width: 1800px;
  margin: auto;
  margin: 0px 60px;
}

.header__banner {
  border-radius: 80px;
}

.header__character-img {
  width: 40%;
  /* min-width: 50%; */
}
