.section-teacher__title {
  font-size: 80px;
  font-weight: 500;
  color: #e1dcec;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  padding-top: 100px;
}
.section-teacher__wrapper {
  max-width: 1640px;
  height: 628px;
  margin: auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-teacher__card {
  /* margin: auto; */
  width: 1072px;
  height: 628px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-teacher__card-left {
  width: 325px;
  height: 628px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.section-teacher__card-name {
  width: 325px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  border: 2px solid #af9dd4;
  background: #7f68ae;
  box-shadow: 0px 20px 0px 0px #dbd5e9;
}

.section-teacher__card-description {
  width: 717px;
  height: 627px;

  border-radius: 25px;
  border: 2px solid rgba(175, 157, 212, 0.5);
  background: #fff;
  box-shadow: 0px 20px 0px 0px #dbd5e9;
}
.section-teacher__card-description-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-teacher__card-description-list-el {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 20px;
}

.section-teacher__card-photo {
  max-width: 100%;

  border-radius: 25px;
  border: 1px solid rgba(175, 157, 212, 0.5);
  box-shadow: 0px 20px 0px 0px #dbd5e9;
}

.section-teacher__card-name-text-1 {
  color: #ffffff;
  font-size: 40px;
}

.section-teacher__card-name-text-2 {
  color: #ffffff;
  font-size: 24px;
}

.section-teacher__left-card {
  opacity: 0.5;
  max-width: 253px;
  height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-teacher__left-card:hover {
  opacity: 1;
  cursor: pointer;
}

.section-teacher__left-card-photo {
  max-width: 100%;

  border-radius: 25px;
  border: 1px solid rgba(175, 157, 212, 0.5);
  box-shadow: 0px 20px 0px 0px #dbd5e9;
}
.section-teacher__left-card-name {
  width: 253px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #af9dd4;

  background: #7f68ae;

  box-shadow: 0px 20px 0px 0px #dbd5e9;
}
.section-teacher__left-card-name-text-1 {
  color: #fff;

  font-size: 28px;

  font-weight: 700;
}

.section-teacher__left-card-name-text-2 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
