@media (max-width: 1700px) {
  .section-teacher__wrapper {
    margin: 0px 25px;
    margin-bottom: 150px;
  }
}

@media (max-width: 1650px) {
  .section-teacher__wrapper {
    margin: 0px 15px;
    margin-bottom: 125px;
    height: 575px;
    justify-content: space-evenly;
  }
  .section-teacher__card {
    max-width: 925px;
    min-height: 500px;
  }
  .section-teacher__card-description-list-el {
    font-size: 20px;
  }
  .section-teacher__card-name {
    max-width: 250px;
    height: 100px;
  }
  .section-teacher__card-name-text-2 {
    font-size: 20px;
  }

  .section-teacher__card-left {
    max-width: 250px;
    height: 500px;
  }
  .section-teacher__card-description {
    max-width: 650px;
    height: 500px;
    margin-left: 10px;
  }
  .section-teacher__left-card {
    /* transform: scale(0.75); */
    max-width: 200px;
    height: 415px;
  }
  .section-teacher__left-card-name {
    max-width: 200px;
    height: 98px;
  }
  .section-teacher__left-card-name-text-1 {
    font-size: 24px;
  }
  .section-teacher__left-card-name-text-2 {
    font-size: 14px;
  }
  .section-teacher__title {
    margin-bottom: 20px;
    padding-top: 65px;
  }
}

@media (max-width: 1600px) {
  .section-teacher__title {
    font-size: 70px;
    margin-bottom: 10px;
    padding-top: 50px;
  }
}

@media (max-width: 1456px) {
  .section-teacher__wrapper {
    height: 525px;
    justify-content: space-evenly;
  }
  .section-teacher__card {
    width: 825px;
    height: 350px;
  }
  .section-teacher__card-left {
    max-width: 225px;
    height: 425px;
  }
  .section-teacher__card-name {
    max-width: 225px;
    height: 95px;
  }
  .section-teacher__card-description {
    width: 650px;
    height: 425px;
    margin-left: 10px;
  }
  .section-teacher__card-name-text-1 {
    font-size: 36px;
  }
  .section-teacher__card-name-text-2 {
    font-size: 18px;
  }
  .section-teacher__left-card {
    /* transform: scale(0.75); */
    max-width: 175px;
    height: 350px;
  }
  .section-teacher__left-card-name {
    max-width: 175px;
    height: 80px;
  }
  .section-teacher__left-card-name-text-1 {
    font-size: 24px;
  }
  .section-teacher__left-card-name-text-2 {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .section-teacher__wrapper {
    height: 450px;
    margin-bottom: 100px;
  }
  .section-teacher__card {
    width: 700px;
    height: 400px;
  }
  .section-teacher__card-description {
    width: 475px;
    height: 400px;
  }
  .section-teacher__card-name-text-1 {
    font-size: 34px;
  }
  .section-teacher__card-name-text-2 {
    font-size: 16px;
  }
  .section-teacher__card-description-list-el {
    font-size: 18px;
    padding: 10px 10px;
  }
  .section-teacher__card-left {
    max-width: 200px;
    height: 400px;
  }
  .section-teacher__card-name {
    max-width: 200px;
    height: 90px;
  }

  .section-teacher__left-card {
    max-width: 150px;
    height: 300px;
  }
  .section-teacher__left-card-name {
    max-width: 150px;
    height: 75px;
  }
  .section-teacher__left-card-name-text-1 {
    font-size: 18px;
  }
  .section-teacher__left-card-name-text-2 {
    font-size: 10px;
  }
  .section-teacher__title {
    font-size: 50px;
  }
}

@media (max-width: 1100px) {
  .section-teacher__left-card {
    max-width: 125px;
    height: 275px;
  }
  .section-teacher__left-card-name {
    max-width: 125px;
    height: 65px;
  }
  .section-teacher__left-card-name-text-1 {
    font-size: 16px;
  }
  .section-teacher__left-card-name-text-2 {
    font-size: 8px;
  }
}

@media (max-width: 1000px) {
  .section-teacher__left-card {
    max-width: 100px;
    height: 200px;
  }
  .section-teacher__left-card-name {
    max-width: 100px;
    height: 50px;
  }
  .section-teacher__left-card-name-text-1 {
    font-size: 12px;
  }
  .section-teacher__left-card-name-text-2 {
    font-size: 6px;
  }
}
