.nav-wrapper {
  /* max-width: 93.75%; */
  max-width: 1800px;
  margin: auto;
  margin: 0px 60px;
}

.nav{
  border-bottom: 2px #dfd3f7 solid;
}

.nav__list {
  height: 65px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list-el-logo {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
}
.nav__list-center {
  width: 650px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list-center-el-link {
  font-size: 20px;
  padding: 5px;
}

.nav__list-el-link {
  font-size: 20px;
}

.nav__list-el:last-child a {
  padding: 8px 15px;

  color: #7f68ad;

  border: 2px solid #7f68ad;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-short-but {
  display: none;
}

.nav__list-el:last-child a:hover {
  color: #ffffff;
  background-color: #7f68ad;
}

.nav__list-center-el-link:hover {
  color: #7f68ad;
}

.nav__list-el-logo:hover {
  filter: brightness(85%);
}
